.navicon {
    margin: 22px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    max-width: 1300px;
}

#emblema a img {
    height: auto;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-5px);
    }
}

.icon2:hover {
    animation: bounce 1.2s;
}

.icon3:hover {
    animation: bounce 1.2s;
}

.icon4:hover {
    animation: bounce 1.2s;
}

.icon5:hover {
    animation: bounce 1.2s;
}

.icon6:hover {
    animation: bounce 1.2s;
}

.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    margin: 20px;
    text-align: center;
    display: inline-flex;
}

.icon1 {
    float: left;
}
.ico2 {
    margin-left: 50px;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Pacifico', cursive;
    color: #aba69f;
}

h4:hover {
    color: #dda044;
}

body {
    background-image: url("/img/fon.png");
    background-size: 100%;
    background-repeat: round no-repeat;
    background-attachment: scroll;
    max-width: 1340px;
    margin: auto;
}

#menu ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: stretch;
   
}
#menu {
    text-decoration: none;
    margin-left: 35px;
    text-align: justify;
}
#pilow {
    width: 195px;
}
.punt {
    width: 140px;
}
#punt {
    width: 80px;
}
.menu li {
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  
  background: #a39e92;
  cursor: pointer;
  transition: all 0.2s;
  height: 40px;
  line-height: 40px;
 display: inline-block;
  list-style-type: none;
  text-align: center;
  position: relative;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    text-align: center;
    font-size: 1em;
}
   

   
.menu li:hover {
  background: #b5b1a7;
  color: #f4119b;
}
.menu li a:hover {
    color: white;
}
.menu li ul li {
    display: none;
}
.menu li ul li a {
    float: left;
    font-size: 0.75em;
    text-transform: capitalize;
}
.menu li ul li a {
    display: block;
}
.menu li:hover ul li {
    display: block;
}


.retmenu {
    margin-left: 35px;
        color: #d7d2cd;
    text-decoration: none;
    text-transform: uppercase;
}
.retmenu a {
    color: #d7d2cd;
    font-size: .929em;
    font-family: 'Gloria Hallelujah', cursive;
}
