.navicon {
    margin: 22px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    max-width: 1300px;
}

#emblema a img {
    height: auto;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-5px);
    }
}

.icon2:hover {
    animation: bounce 1.2s;
}

.icon3:hover {
    animation: bounce 1.2s;
}

.icon4:hover {
    animation: bounce 1.2s;
}

.icon5:hover {
    animation: bounce 1.2s;
}

.icon6:hover {
    animation: bounce 1.2s;
}

.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    margin: 20px;
    text-align: center;
    display: inline-flex;
}

.icon1 {
    float: left;
}

.ico2 {
    margin-left: 50px;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Pacifico', cursive;
    color: #aba69f;
}

h4:hover {
    color: #2a2a2a;
}

body {
    background-image: url("/img/14.png");
    background-size: 100%;
    background-repeat: round no-repeat;
    background-attachment: scroll;
    max-width: 1340px;
    margin: auto;
}

.menu {
	background-color: #a39e92;
    background-repeat: no-repeat;
   	border-radius: 4px;
	width: 1300px;
    height: 41px;
}

.menu>li {
	float: left;
	list-style: none;
	border-right: 1px solid #fff;
	position: relative;
}

.menu>li>a {
	color: white;
	display: block;
	padding: 8px 20px 10px;
	text-decoration: none;
	border-right: 1px solid #a39e92;
	text-transform: uppercase;
	font-size: 1em;
font-family: 'Gloria Hallelujah', cursive;
}

.menu>li>a:hover {
	background-color: #a39e92;
}

.menu>li:first-child>a:hover {
	border-radius: 4px 0 0 4px;
}

.menu>li>ul {
	display: none;
}

.menu>li:hover>ul {
	display: block;
	position: absolute;
	top: 41px;
	border-radius: 0 0 4px 4px;
	background-color: #aca79c;
	z-index: 1000;
}

.menu>li:hover>ul>li {
	float: none;
	width: 150px;
	list-style: none;
}

.menu>li:hover>ul>li>a {
	border-top: 1px solid #fff;
	padding: 6px 20px 8px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: larger;
}

.menu>li:hover>ul>li>a:hover {
	background-color: transparent;
	color: #302f2b;
}
h2 {
    overflow: hidden;
    position: relative;
    margin: 50px;
    text-align: center;
    white-space: nowrap;
    font-family: 'Gloria Hallelujah', cursive;
    color: #a39e92;
}

h2:before,
h2:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #716558;
}

h2:before {
    left: -10px;
    margin-left: -50%;
}

h2:after {
    left: 10px;
    margin-right: -50%;
}

.main {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
}

.bl {
    margin: 20px;
    padding: 5px 10px;
    border-radius: 3px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    max-width: 1250px;
    height: 880px;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: auto;
    flex-direction: row;
}

.bl {
    flex: 1 1 200px;
    text-align: center;
}

.image img {
    width: 354px;
    height: 265.5px;
    
}
.blok1 {position: relative; cursor:pointer; display: inline-block;}
.blok1 img + img {position:absolute; left: 0; top:0; z-index:100; display: none;}
.blok1:hover img + img {display: block;}
h3 {
    margin-top: 0;
    padding-top: 5px;
    color: #fff;
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text {
    
    width: 100%;
    position: relative;
    background: #a39e92;
    border-bottom: 10px solid #a39e92;
}
.text a {
    color: #e1e033;
    font-family: 'Pacifico', cursive;
}

.text a h3:hover {
    color: #e1e033;
}
.text a p {
    color: #000;
    font-size: 15px;
    margin: 5px;
}

.footer {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 1340px;
    position: relative;
    background: #cdc3b8;
    padding: 12px 0;
    border-bottom: 10px;
}
.slider {
    float: left;
    width: 300px;
    height: 300px;
}