.navicon {
    margin: 22px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    max-width: 1300px;
}

#emblema a img {
    height: auto;
}

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-5px);
    }
}

.icon2:hover {
    animation: bounce 1.2s;
}

.icon3:hover {
    animation: bounce 1.2s;
}

.icon4:hover {
    animation: bounce 1.2s;
}

.icon5:hover {
    animation: bounce 1.2s;
}

.icon6:hover {
    animation: bounce 1.2s;
}

.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    margin: 20px;
    text-align: center;
    display: inline-flex;
}

.icon1 {
    float: left;
}
.ico2 {
    margin-left: 50px;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Pacifico', cursive;
    color: #aba69f;
}

h4:hover {
    color: #dda044;
}

body {
    background-image: url("/img/fon.png");
    background-size: 100%;
    background-repeat: round no-repeat;
    background-attachment: scroll;
    max-width: 1340px;
    margin: auto;
}

aside {
    width: 610px;
    float: right;
}

.menu ul ul {
    display: none;
    background-size: 100%;
    margin: 0;
}

.menu ul li:hover>ul {
    display: block;
    width: 100%;
}

.menu ul {
    background: #f4f2ef;
    width: 100%;
    margin-left: 35px;
    max-width: 1275px;
    color: #000000;
    list-style: none;
    position: relative;
    display: inline-table;
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: uppercase;
}

.menu ul a:hover {
    color: #000000;
}

nav ul li {
    float: left;
}

.menu ul li:hover a {
    color: #000000;
}

.menu ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 12px;
    margin: 5px;
}

.menu ul li a:hover {
    color: #ec1559;
}

.menu ul ul {
    float: left;
    background: #f4f2ef;
    position: absolute;
    background-size: 100%;
    margin: 0;
}

.menu ul ul li {
    float: none;
    position: relative;
    width: 100%;
    background-size: 100%;
}

.menu ul ul li a {
    padding: 0px;
    color: #000000;
}

.menu ul ul li a:hover {
    color: #727070;
}

#menu {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

.menu ul li ul {
    position: absolute;
    float: left;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-transform: lowercase;
}

.navmenu ul li {
    background-size: 100%;
}
.retmenu {
    margin-left: 35px;
        color: #d7d2cd;
    text-decoration: none;
    text-transform: uppercase;
}
.retmenu a {
    color: #d7d2cd;
    font-size: .929em;
    font-family: 'Gloria Hallelujah', cursive;
}